In [2]:
import pandas as pd
import numpy as np

In [5]:
data = np.random.random(10)
series = pd.Series(data, index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

In [6]:
series

a    0.183407
b    0.436968
c    0.250247
d    0.566430
e    0.022775
f    0.328101
g    0.002063
h    0.653094
i    0.355617
j    0.417273
dtype: float64

In [11]:
data = {
    "id" : [101,102,103,104,105],
    "name" : ['Ram', 'Shyam', 'Ravi', 'Ajay', 'Mohit'],
    "address" : ['Rohini', 'Pitampura', 'Rithala', 'Kashmiri Gate', 'Dilshaad']
}
df = pd.DataFrame(data)

In [12]:
df

         address   id   name
0         Rohini  101    Ram
1      Pitampura  102  Shyam
2        Rithala  103   Ravi
3  Kashmiri Gate  104   Ajay
4       Dilshaad  105  Mohit

In [13]:
type(df)

pandas.core.frame.DataFrame

In [14]:
df['name']

0      Ram
1    Shyam
2     Ravi
3     Ajay
4    Mohit
Name: name, dtype: object

In [15]:
df['id'].max()

105

In [21]:
df['name'][df['id'] > 102]

2     Ravi
3     Ajay
4    Mohit
Name: name, dtype: object