In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
# from sklearn.model_selection import train_test_split

In [13]:
dataset = pd.read_csv('titanic.csv')

In [14]:
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [37]:
X = pd.DataFrame()
X['PassengerId'] = dataset['PassengerId']
X['Age'] = dataset['Age']
X['Sex'] = dataset['Sex']
X['Survived'] = dataset['Survived']

In [38]:
X.dropna(inplace=True)

In [39]:
Y = X['Survived']

In [40]:
X['Age'] = dataset['Age']

In [41]:
X['PassengerId'] = dataset['PassengerId']

In [42]:
X = X.drop(['Survived'], axis=1)

In [43]:
X.head()

   PassengerId   Age     Sex
0            1  22.0    male
1            2  38.0  female
2            3  26.0  female
3            4  35.0  female
4            5  35.0    male

In [51]:
X['Sex'] = pd.get_dummies(X.Sex)

In [52]:
X

     PassengerId   Age  Sex
0              1  22.0    1
1              2  38.0    0
2              3  26.0    0
3              4  35.0    0
4              5  35.0    1
6              7  54.0    1
7              8   2.0    1
8              9  27.0    0
9             10  14.0    0
10            11   4.0    0
11            12  58.0    0
12            13  20.0    1
13            14  39.0    1
14            15  14.0    0
15            16  55.0    0
16            17   2.0    1
18            19  31.0    0
20            21  35.0    1
21            22  34.0    1
22            23  15.0    0
23            24  28.0    1
24            25   8.0    0
25            26  38.0    0
27            28  19.0    1
30            31  40.0    1
33            34  66.0    1
34            35  28.0    1
35            36  42.0    1
37            38  21.0    1
38            39  18.0    0
..           ...   ...  ...
856          857  45.0    0
857          858  51.0    1
858          859  24.0    0
860          861  41.0    1
861          862  21.0    1
862          863  48.0    0
864          865  24.0    1
865          866  42.0    0
866          867  27.0    0
867          868  31.0    1
869          870   4.0    1
870          871  26.0    1
871          872  47.0    0
872          873  33.0    1
873          874  47.0    1
874          875  28.0    0
875          876  15.0    0
876          877  20.0    1
877          878  19.0    1
879          880  56.0    0
880          881  25.0    0
881          882  33.0    1
882          883  22.0    0
883          884  28.0    1
884          885  25.0    1
885          886  39.0    0
886          887  27.0    1
887          888  19.0    0
889          890  26.0    1
890          891  32.0    1

[714 rows x 3 columns]

In [59]:
train_X, test_x, train_y, test_y = train_test_split(X,Y,test_size=0.2)

In [60]:
train_X.shape

(571, 3)

In [61]:
train_y.shape

(571,)

In [62]:
test_x.shape

(143, 3)

In [63]:
test_y.shape

(143,)

In [64]:
classifier = LogisticRegression()
classifier.fit(train_X, train_y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [65]:
classifier.score(train_X, train_y)

0.78108581436077062

In [66]:
classifier.score(test_x, test_y)

0.77622377622377625

In [67]:
pred = classifier.predict(test_x)

In [68]:
pred

array([0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 0, 0], dtype=int64)

In [69]:
from sklearn.metrics import accuracy_score

In [70]:
accuracy_score(test_y, pred)

0.77622377622377625